.welcome-page-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0 auto;
    min-height: 80vh;
    width: 100%;
}

footer {
    text-align: center;
    color: #fefae0;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;

}

.welcome-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: beige;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}

.start-instruction {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: beige;
    font-size: 30px;
    text-align: center;
    margin: 0 20px;
}

.zoo-gate-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    border-radius: 50px;
    top: 300px;
    width: 75%;
    max-width: 2000px;
}

.enter-gate-img:hover {
    transform: scale(1.1);
}

.enter-gate-img {
    width: 80%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

body {
    background-color: #606c38;
    padding: 0;
    margin: 0;
}

.main-page-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 10px;
    display:none;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    padding: 20px;
    border-radius: 10px;
    background: white; 
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    background-color: #606c38;
    width: 100%; 
    box-sizing: border-box;
    padding: 10px; 
}

.card-block {
    position: relative;
    height: 150px;
    width: calc(25% - 20px); 
    margin: 10px;
    perspective: 1000px;
    border-color: solid 2px #582f0e;
    border-radius: 15px; 
    overflow: hidden;  
}

.cover-img {
    object-fit: cover;
    max-width: 330px;
    height: 100%;
}

.card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; 
    transition: transform 0.6s ease-in-out; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.animal-img {
    max-width: fit-content;
}

.card-face img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 15px; 
}

.closed-card {
    z-index: 2; 
    width: 100%;
    height: 100%;
}

.flipped-card {
    background: #fefae0;
    transform: rotateY(180deg); 
    z-index: 1;
    width: 100%;
    height: 100%;
}

.card-block.is-flipped .closed-card {
    transform: rotateY(180deg); 
}

.card-block.is-flipped .flipped-card {
    transform: rotateY(0deg); 
}

.closed-card:hover {
    transform: scale(1.1); 
    cursor: pointer;
}

.move-counter {
    margin: 10px;
    color:#fefae0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}

.restart-button {
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    border-color: #dda15e;
    padding: 10px;
    font-weight: bold;
    background-color: #fefae0;
    color: #283618;
    text-align: center;
    margin: 20px 0 40px;
}

@media (max-width: 425px) {
    .card-block {
        height: 80px; 
    }

    .cover-img {
        object-fit:contain;
        width: 85px;
    }

    .animal-img {
        object-fit:contain; 
        width: 85px;
    }
    .start-instruction {
        font-size: 20px; 
        margin: 0 15px;
    }
    footer {
        font-size: 15px;
        line-height: 1.5;
    }
    .welcome-title {
        font-size: 30px;
    }
}

